@keyframes blink {
	0% {
		transform: translate(-50%, -110%);
	}
	98% {
		transform: translate(-50%, -110%);
	}
	99% {
		transform: translate(-50%, -10%);
	}
	100% {
		transform: translate(-50%, -110%);
	}
}

@keyframes updown {
	0% {
		transform: translateY(30%);
	}
	50% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(30%);
	}
}
