@import "./animations.scss";
@import "./colors.scss";
@import "./scrollbar.scss";
@import "~bootstrap/scss/bootstrap.scss";

// Global styles
* {
	scroll-behavior: smooth;
	z-index: 1;
}

// Shape styles
.shape {
	z-index: 0;
}

//// Section Header
header {
	min-height: 500px;
}
// Fox eyes sizes
.eyes {
	left: 5px;
	bottom: 187px;
	width: 100%;
	height: 1px;
}

.eye {
	width: 20px;
	height: 15px;
	margin: 41px;
}

.ball {
	width: 5px;
	height: 7px;
}

// Media queries for fox
@media (max-width: 575px) {
	.fox {
		margin-top: 80px;
	}
}

@media (max-width: 360px) {
	.fox-container {
		max-width: 250px;
	}
	.eyes {
		left: 3px;
		bottom: 122px;
		text-align: center;
	}
	.eye {
		width: 15px;
		height: 10px;
		margin: 26px;
	}
	.ball {
		width: 4px;
		height: 6px;
	}
}

// arrow animation
.arrow {
	animation: updown 2s infinite;
}
