@import "./colors.scss";
@import "./scrollbar.scss";
@import "~bootstrap/scss/bootstrap.scss";

// Global styles
* {
	scroll-behavior: smooth;
	z-index: 1;
}

// Shape styles
.shape {
	z-index: 0;
}

// Fox eyes sizes
.eyes {
	left: 5px;
	bottom: 187px;
	width: 100%;
	height: 1px;
}

.eye {
	width: 20px;
	height: 15px;
	margin: 41px;
}

.ball {
	width: 5px;
	height: 7px;
}
